@tailwind base;
@tailwind components;
@tailwind utilities;
#searchResult::-webkit-scrollbar {
    background-color: white;
    width: 0.5rem;
    margin-left: 0.2rem
}
#searchResult::-webkit-scrollbar-thumb {
    background-color: #6c6d7a;
    border-radius: 0.75rem;
}